/* Color scheme 
#edf8fb
#bfd3e6
#9ebcda
#8c96c6
#8856a7
#810f7c
*/

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.container {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.col {
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.select-container {
  margin: 0 auto; /* Center the container */
  margin: 20px; /* Add some margin around the select containers */

  /* max-width: 300px;  */
}
.navbar {
  background-color: rgba(209, 232, 226, 0.7); /* #D1E8E2 with 70% opacity */
  padding: 10px 0;
  text-align: center;
}
.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.country {
  fill: #d3d3d3;
  stroke: #fff;
  stroke-width: 0.5px;
}

.marker {
  font-size: 24px;
  text-anchor: middle;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  pointer-events: none;
}

#legend {
  width: 70px;
  height:90px;
  position: absolute;
  top: 190px;
  left: 10px;
  background-color: rgba(215, 246, 234, 0.8);
  padding: 10px;
  border-radius: 5px;
  font-size: 8px;
}

#legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#legend li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  text-size-adjust:1px ;
}

#legend li span:first-child {
  margin-right: 10px;
}

svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ddd;
   stroke-opacity: .4;  
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: #19747E;
   stroke-opacity: .7;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;

  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}


.chart-gauge {
  position: absolute;
  width: 250px;
  margin: 5px auto;
  top:250px;
  height:200px;


}
.chart-color1 {
  /* fill: #DEA82C */
  fill: #e92213;
}

.chart-color2 {
  /* fill: #E9621A} */
  fill: #dea82c;
}

.chart-color3 {
  /* fill: #e92213} */
  fill: rgba(124, 190, 124, 0.919);
}

.needle,
.needle-center {
  fill: #202020;
}

.prose {
  text-align: "center";
  font-family: "sans-serif";
  color: "#ababab";
}
.legend-item {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.legend-item rect {
  display: inline-block;
  vertical-align: middle;
}

.legend-item text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 10px;
  fill: #7E909A;
}








